.services {
    padding-top: 0;
}

.services__title {
    margin-bottom: 50px;
    color: $titleColor;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.14;
    text-align: center;
}

.services__subtitle {
    position: absolute;
    bottom: 0;
    width: 370px;
    padding: 27px 0;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $whiteColor;
    background: $backgroroundSeviceTitle;
}

.services__list {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.services__item {
    position: relative;
}